
.root{
  padding: 24px;
  margin: 24px
}

.container{
  display: flex;
  flex-wrap: wrap
}
.textField {
  margin-left:  12px !important;
  margin-right:   12px !important;
  padding-top: 0 !important
}

.card {
  min-width: 275px;
}